---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <p><strong>No real money here!</strong></p>
      <p>All works on the devnet, but it is ready for the mainnet usage!</p>
      <p>For using it you would need a <a href="https://maiar.com/" target="_blank" rel="noopener" rel="noreferrer">Maiar mobile app</a></p>
      <p>Read more about it in the <a href="https://dev.to/juliancwirko/how-to-enable-donations-on-any-website-using-the-elrond-blockchain-and-egld-tokens-3fkf" target="_blank" rel="noopener" rel="noreferrer">article</a></p>
      <p><strong>Donate 0.5 EGLD.</strong></p>
      <div>Please connect, scan and confirm transaction with Maiar Mobile App.</div>
      <button class="button" id="button-tx" style="display: none;">Donate!</button>
      <button class="button" id="button-login-mobile" style="display: none;">Connect!</button>
      <button class="button" id="button-logout" style="display: none;">Disconnect</button>
      <div id="elrond-donate-widget-container" class="elrond-donate-widget-container"></div>
      <div id="tx-hash" class="tx-hash"></div>
    </main>
    <Footer />
    <script>
      import "./elven-init.mjs";
    </script>
  </body>
</html>
